:root{
    --color-body: #b6cbce;
    --color-heading: #eef3db;
    --color-base: #478bdf;
    --color-base2: rgb(42, 46, 49);
    --color-brand: #89c7ec;
    --color-brand2: #ffffff;
    --color-brand3: black;
    --sidbar-width: 350px;
}

body{
    background-color: rgb(29, 32, 34);
    font-family: century gothic;
    color: #fff;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 700;
}

a{
    text-decoration: none;
    color: var(--color-body);
    transition: all 0.4s ease;
}

a:hover{
    color: var(--color-brand);
}

#aNegro{
    color: black;
    transition: none;
    text-decoration: none;
}

img{
    width: 100%;
}

.text-brand{
    color: var(--color-brand);
}

.bg-base{
    background-color: var(--color-brand);
}

.full-height{
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    border-bottom: 2px solid rgba(255,255,255, 0.1);
}

.shadow-effect {
    transition: all 0.5s;
}

.shadow-effect:hover {
    box-shadow: -6px 6px 0 0 #fff;
}

.iconbox{
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    background-color: var(--color-brand2);
    color: var(--color-brand);
}

/* navbar */
.navbar {
    background-color: var(--color-base);
}

.navbar .nav-link {
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}

.navbar .nav-link:hover {
    color: var(--color-brand);
}

.navbar .nav-link.active {
    color: var(--color-brand);
}

@media (min-width: 992px) {
    .navbar {
        min-height: 100vh;
        width: var(--sidbar-width);
        background: linear-gradient(rgb(42, 46, 49, 0.8),rgba(0, 0, 0, 0.8)), url(../images/bandera-argentina.png);
        background-size: cover;
        background-position: center;
    }

    .navbar-brand img {
        border: 8px solid var(--color-brand);
    }

    /* CONTENT WRAPPER */
    #content-wrapper {
        padding-left: var(--sidbar-width);
    }
}

/* btn */
.btn {
    padding: 12px 28px;
    font-weight: 700;
}

.btn-brand {
    background-color: var(--color-brand);
    border-color: var(--color-brand);
    color: var(--color-base);
}

.btn-brand:hover,
.btn-brand:focus {
    background-color: var(--color-brand2);
    color: var(--color-base);
    border-color: var(--color-brand2);
}

.link-custom {
    font-weight: 700;
    position: relative;
}

.link-custom::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: var(--color-brand);
    position: absolute;
    left: 0;
    top: 110%;
    transition: all 0.4s;
}

.link-custom:hover::after {
    width: 100%;
}

/* Cards */
.card-custom .card-custom-image {
    overflow: hidden;
}

.card-custom .card-custom-image img {
    transition: all 0.4s ease;
}

.card-custom:hover .card-custom-image img {
    transform: scale(1.1);
}

/* Contacto */
#contacto .form-control{
    border-color: var(--color-brand);
}

#contacto .form-control:focus{
    border-color: var(--color-brand);
}

#contacto input.form-control{
    height: 44px;
}

.iconos-redes a{
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-brand);
    color: black;
    border-radius: 100px;
    font-size: 25px;
}

.bien{
	text-align: center;
	background-color: rgb(142, 236, 178);
	color: #fff
}

.error, .campos{
	text-align: center;
	background-color: rgb(255, 0, 0);
	color: #fff
}